.song-table {
  margin: 30px !important;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  padding-top: 20px;
}

.song-table th {
  font-weight: bold;
  color: #fff;
  background-color: #174E7F;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  text-align: left;
  padding: 12px 15px;
  font-size: 12px;
}

.song-table td {
  border: 1px solid #ddd;
  padding: 12px 15px;
  font-size: 12px;
}

.song-table th a {
 color: white;
}

.song-table button {
	background-color: #174E7F;
	text-align: left;
	padding: 10px;
	border: none;
	color: white;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

.song-table tr:nth-child(odd) td {
  background-color: #E6F4FC;
}

.delete-song-button {
  border: none;
  background-color: #e2e2e2;
  color: red;
  transform: scaleX(1.2);
  font-weight: bold;
  padding: 3px 5px;
  cursor: pointer;
  opacity: 0.65;
}

.delete-song-button:hover {
  opacity: 1;
}

.create-song-form {
padding-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
justify-content: space-between;
}

.create-song-form p {
  margin-bottom: 5px !important;
}

.create-song-form button {
	background-color: #0693e3;
	width: 100%;
	margin: auto;
	padding: 10px;
	margin-top: 10px;
	border: none;
	color: white;
  cursor: pointer;
font-weight: bold;
}


.foundsongs {
	padding-top: 10px;
}
button.resetbutton {
	background-color: #0693e3;
	
	float: right;
	width: 60px;
	color: white;
	padding: 10px;
	font-weight: bold;
	border: 0;
}

a.resetbutton {
	color: white;
	padding: 10px;
  	margin: -10px;
	overflow: hidden;
	text-decoration: none;
}



input[type="text" i] {
	display: flex;
	justify-content: space-between;
}

input.textinput {
	margin-top: 5px;
	width: 31%;
	flex-direction: row;
	justify-content: space-between;
}

@media screen and (max-width: 400px) {
.create-song-form {
	flex-direction: column;
	}
input.textinput {
		width: 95%;
		margin: 5px;
	}
}

